<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Free Status</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app" class="container">
        <h1>Artist Free Status</h1>
        <div class="error-container">
            <div v-for="(error, index) in errorMessages" :key="index" class="error-message">{{ error }}</div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Version</th>
                    <th>Artist Free</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="result in results" :key="result.hostname" :class="{'artist-free-bg': result.artist_free}">
                    <td><b>{{ result.hostname }}</b></td>
                    <td>{{ result.version }}</td>
                    <td :class="{'artist-free': result.artist_free, 'artist-not-free': !result.artist_free}">
                        {{ result.artist_free ? 'Yes' : 'No' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="main.js"></script>
</body>
</html>
